# Anixart API (подсмотрено через Charles Proxy)
# Домен API из ani_backend.md
VITE_BASE_URL=https://api-s.anixsekai.com

# Токен сессии (свой, из Charles — не коммитить)
VITE_TOKEN=

# extended_mode для /release и /filter (0 | 1)
VITE_EXTENDED_MODE=

# Версия приложения из User-Agent (AnixartApp/9.0 BETA 9-25110702)
VITE_VERSION_CODE=

# Бета-версия приложения
VITE_IS_BETA=

# Альтернативный домен API
VITE_IS_API_ALT=

# User-Agent приложения (как в Charles)
VITE_USER_AGENT=AnixartApp/9.0 BETA 9-25110702 (Android 16; SDK 36; x86_64; Google sdk_gphone64_x86_64; en)

