@use '../../../../shared/styles/utils/variables' as *;
@use '../../../../shared/styles/utils/media_breakpoint' as *;

@include desktop() {
    .layout_container {
        display: flex;
        height: 100vh;           
        height: 100dvh;                
    }

    .topBar_container {
        display: flex;
        flex-direction: column;
        flex: 1;                 
           
    }

    .content_container {
        flex: 1;                 
        background-color: $color-dark-grey;
        padding-right: 10px;
        overflow-y: auto;
    }
}