@use '../../../../shared/styles/utils/variables' as *;
@use '../../../../shared/styles/utils/media_breakpoint' as *;

@include desktop() {
    .side_top_bar {
        user-select: none;
        display: flex;
        align-items: center;
        padding: 10px;
        height: 60px;
        background-color: $color-dark-grey;
    }
    .first_layer_container {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 40px;

    }
    .tab_icon{
        cursor: pointer;
        margin-left: 20px;
        filter: invert(1);
        transition: transform 0.40s cubic-bezier(0.4, 0, 0.2, 1);
        &.active {
           transform: rotate(-90deg);
        }
    }
    .second_layer_container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
        gap: 30px;
    }

    

}